<div class="space-out">
  <div class="container">
    <nz-layout>
      <nz-header>
        <!-- <div class="logo">LIFE</div> -->
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          <li nz-menu-item *ngFor="let i of ListMenuUser">
            <a (click)="goto(i.link)">{{ i.title }}</a>
          </li>
        </ul>
      </nz-header>
      <nz-content nzBreakpoint="lg">
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>List</nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>
        <div>
          <h4>
            <a href="#" style="color: #fff">LIFEFORWHAT</a>
          </h4>
        </div>
        <div>Ant Design ©2020 Implement By Angular</div>
      </nz-footer>
    </nz-layout>
  </div>
</div>
