[nz-carousel-content] {
    text-align: center;
    height: 60vh;
    line-height: 160px;
    // background-image: radial-gradient(circle, #ebebeb, #f0e9ed, #f8e7e5, #f8e7d9, #e9ecd3);
    color: #fff;
    overflow: hidden;
    border-radius: 8px;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

.space-carousel {
    border-radius: 8px;
}

.space-carousel img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 8px;
    // // object-fit: cover;
}

nz-card.ant-card {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    padding: 5px;
    background-image: linear-gradient(to left top, #e9b15b, #efaf61, #f4ad67, #f8ab6e, #fca975, #fda873, #fea871, #ffa76f, #ffa862, #ffa953, #ffab43, #ffae30);
    // background-image: radial-gradient(circle, #d9a25f, #d49858, #d08f52, #cb854c, #c67c47, #c67744, #c57142, #c56c40, #ca6940, #cf6641, #d46342, #d95f43);
}


nz-divider .text-iu {
    font-weight: 300;
    color: #FFFFFF;
}